:root {
  /* color */
  --color__text: #121212;
  --color__bg: #ffffff;
  --color__accent: #ff5044;
  --color__bgFooter: #f2f2f2;
  --color__border: #aaaaaa;
  /* font-size */
  --font-size__1: calc(14 / 16 * 1rem);
  --font-size__2: calc(16 / 16 * 1rem);
  --font-size__3: calc(18 / 16 * 1rem);
  --font-size__4: calc(20 / 16 * 1rem);
  --font-size__5: calc(24 / 16 * 1rem);
  --font-size__6: calc(40 / 16 * 1rem);
  /* font-family */
  --font-family__sans-serif: "Helvetica", sans-serif;
  --font-family__serif: "Playfair Display", "Times New Roman", serif;
  /* margin */
  --margin__1: 32px;
  --margin__2: 40px;
  --margin__3: 50px;
  --margin__4: 60px;
  --margin__5: 70px;
  --margin__6: 100px;
  --margin__body-side: 20px;
}

@media (min-width: 545px) {
  :root {
    /* font-size */
    --font-size__1: calc(16 / 16 * 1rem);
    --font-size__2: calc(18 / 16 * 1rem);
    --font-size__3: calc(20 / 16 * 1rem);
    --font-size__4: calc(24 / 16 * 1rem);
    --font-size__5: calc(32 / 16 * 1rem);
    --font-size__6: calc(56 / 16 * 1rem);
    /* margin */
    --margin__1: 40px;
    --margin__2: 60px;
    --margin__3: 80px;
    --margin__4: 100px;
    --margin__5: 120px;
    --margin__6: 180px;
    --margin__body-side: 32px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color__text: #fff;
    --color__bg: #121212;
  }
}

/* element style */

html {
  color: var(--color__text);
  font-family: var(--font-family__sans-serif);
  line-height: 2;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-underline-position: under;
}

h1 > svg {
  fill: var(--color__text);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
[role="heading"] {
  line-height: 1.5;
}

/* Layout */
#Wrapper {
  padding: var(--margin__body-side) var(--margin__body-side) 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -12px 0;
}

nav [role="directory"] {
  display: contents;
  list-style: none;
}

nav a {
  padding: 3px;
}

nav > div,
nav [role="directory"] > li {
  display: inline-block;
  padding: 9px;
  line-height: 1;
}

[role="directory"] a[href^="#"] {
  display: inline-flex;
  align-items: center;
}

[role="directory"] a[href^="#"]::after {
  content: "";
  display: inline-block;
  margin-left: 2px;
  border-color: transparent;
  border-top-color: var(--color__text);
  border-style: solid;
  border-width: 6px 4px;
  transform: translateY(3px);
}

#Cover {
  margin-top: var(--margin__3);
  font-family: var(--font-family__serif);
}

h1 {
  margin: 0 0 var(--margin__2);
}
