:root {
  --color__text: #121212;
  --color__bg: #ffffff;
  --color__accent: #ff5044;
  --color__bgFooter: #f2f2f2;
  --color__border: #aaaaaa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color__text: #fff;
    --color__bg: #121212;
  }
}

html {
  color: var(--color__text);
  font-family: "Playfair Display", serif;
  line-height: 2;
}

a {
  color: inherit;
  text-underline-position: under;
}

h1 > svg {
  fill: var(--color__text);
}
