@font-face {
  font-family: 'Card';
  src: url('../fonts/cardc___-webfont.woff2') format('woff2'),
     url('../fonts/cardc___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
